<%- include('../partials/header') %>
    <section id="show-page">
        <div>Location</div>
        <div>
            <%= trip.location %>
        </div>
        <div>Days of Stay: </div>
        <div>
            <%= trip.tripLength %>
        </div>
        <div>Type of your Trip: </div>
        <div>
            <%= trip.tripType %>
        </div>
    </section>
    <h2>Pack your items!!!</h2>
    <div class="detailsForm">
        <form method="POST" action="/trips/<%= trip._id %>/items">
            <label>Item Name</label>
            <input type="text" name="itemName">
            <label>Item Quantity</label>
            <input type="number" name="itemQuantity">
            <label>Is your item Essential?</label>
            <input type="checkbox" name="essential">
            <input type="submit" value="Add Item">
        </form>
    </div>
    <div>
        <% if (trip.items.length) { %>
            <table>
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Quantity</th>
                        <th>Essential?</th>
                    </tr>
                </thead>
                <tbody>
                    <% trip.items.forEach((i)=> { %>
                        <tr>
                            <td>
                                <%= i.itemName %>
                            </td>
                            <td>
                                <%= i.itemQuantity %>
                            </td>
                            <td>
                                <%= i.essential ? '✅' : '❌' %>
                            </td>
                        </tr>
                        <% }); %>

                </tbody>
            </table>
            <% } else { %>
                <h5>No Items Yet? Start creating your list</h5>
                <% } %>
    </div>

    <%- include('../partials/footer') %>