<%- include('../partials/header') %>
    <section id="show-page">
        <div>Location</div>
        <div>
            <%= trip.location %>
        </div>
        <div>Days of Stay: </div>
        <div>
            <%= trip.tripLength %>
        </div>
        <div>Type of your Trip: </div>
        <div>
            <%= trip.tripType %>
        </div>
    </section>
    <h2>Pack your items!!!</h2>
    <form method="POST" action="/trips/<%= trip._id %>/items">
        <label>Item Name</label>
        <input type="text" name="itemName">
        <label>Item Quantity</label>
        <input type="text" name="itemQuantity">
        <label>Is your item Essential?</label>
        <input type="checkbox" name="essential">
        <input type="submit" value="Add Item">
    </form>
    <%- include('../partials/footer') %>