<%- include('../partials/header') %>
    <section id="show-page">
        <div>Location</div>
        <div>
            <%= trip.location %>
        </div>
        <div>Days of Stay: </div>
        <div>
            <%= trip.tripLength %>
        </div>
        <div>Type of your Trip: </div>
        <div>
            <%= trip.tripType %>
        </div>
    </section>
    <%- include('../partials/footer') %>