<%- include('../partials/header') %>
    <section id="show-page" class="tripDetails">
        <div class="label">Location</div>
        <div class="detail">
            <%= trip.location %>
        </div>
        <div class="label">Days of Stay: </div>
        <div class="detail">
            <%= trip.tripLength %>
        </div>
        <div class="label">Type of your Trip: </div>
        <div class="detail">
            <%= trip.tripType %>
        </div>
        <div>
            <% if (user?._id.equals(trip.user)) { %>
                <form action="/trips/<%= trip._id %>?_method=DELETE" method="POST">
                    <button class="btnRed" type="submit">Delete Trip</button>
                </form>
                <% } %>
        </div>
    </section>

    <% if (user) { %>
        <h2>Pack your items!!!</h2>
        <div class="detailsForm">
            <form method="POST" action="/trips/<%= trip._id %>/items">
                <div class="name">
                    <label>Item Name</label>
                    <input type="text" name="itemName">
                </div>
                <div class="quantity">
                    <label>Item Quantity</label>
                    <input type="number" name="itemQuantity">
                </div>
                <div class="essential">
                    <label>Is your item Essential?</label>
                    <input type="checkbox" name="essential">
                </div>
                <div class="button">
                    <input class="btnBlack" type="submit" value="Add Item">
                </div>
            </form>
        </div>
        <div class="itemsToBring">
            <h3>Items to bring</h3>
            <% if (trip.items.length) { %>
                <table>
                    <thead>
                        <tr>
                            <th>Item</th>
                            <th>Quantity</th>
                            <th>Essential?</th>
                            <th>Is your item packed?</th>

                        </tr>
                    </thead>
                    <tbody>
                        <% trip.items.forEach((item)=> { %>
                            <tr>
                                <td>
                                    <%= item.itemName %>
                                </td>
                                <td>
                                    <%= item.itemQuantity %>
                                </td>
                                <td>
                                    <%= item.essential ? '❗️' : '' %>
                                </td>
                                <td>
                                    <%= item.packed ? '✅' : '' %>
                                </td>
                                <td>
                                    <form action="/items/<%= trip._id %>/<%= item._id %>?_method=PUT" method="POST">
                                        <button type="submit">
                                            <%= item.packed ? 'Unpack' : 'Pack' %>
                                        </button>
                                    </form>
                                </td>

                                <% }); %>
                    </tbody>
                </table>
                <% } else { %>
                    <h5>No Items Yet? Start creating your list</h5>
                    <% } %>
        </div>
        <% } %>

            <%- include('../partials/footer') %>